#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    padding: 10px;
    border: 1px solid #000;
}

.grid {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 20px;
    height: 300px;
}

#top {
    grid-column: 1 / 2;
}

#cover {
    display: block;
    float: left;
    width: 200px;
    height: 300px;
    background-size: 100% 100%;
}

#info {
    float: right;
}
#searchArea{
/* border:1px solid black;  
*/height:50px;
  display: grid;
  grid-template-columns: auto auto auto;
}

#reviewButton{
	display: none;
}

#buyButton{
  display: none;
}

#searchButton{
  display:block;
  border:none;
  background-color:#ffffff;
  opacity: 50%;
  width:40px;
  margin-top:23px;
  outline:none;
}

#searchButton:hover{
  opacity: 100%;
}

#dropDown{
  margin-left: 45%;
  margin-top: 20px;
}

#nextResultsContainer {
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

button{
    display: none;
}

/* not accounted for yet --- */

/* #description {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#page {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
}

#price {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
} */

.next {
    float: right;
}

#listPrice{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; 
  font-weight: 700;
}

#searchInput{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #525252;
  float:right;

}

input[type=text]{
  position: relative;
  padding: 18px 40px 0px 20px;
  width: 100%;
  color: #525252;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  outline: none;
  font-family: raleway;
  font-weight:bold;
}

/*search drop Down list*/
*, *:after, *:before {
     box-sizing: border-box;
}

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 150px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
 .dropDown {
     position: relative;
     display: flex;
     flex-direction: column;
     /*border-width: 0 2px 0 2px;
     border-style: solid;
     border-color: #525252;*/
}
 .custom-select-trigger{
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 22px;
     font-size: 20px;
     font-weight: 300;
     color: #525252;
     height: 60px;
     line-height: 60px;
     background: #ffffff;
     cursor: pointer;
    /* border-width: 2px 0 2px 0;
     border-style: solid;
     border-color: #525252;*/
}
 .dropDown-options {
     position: absolute;
     display: block;
     top: 100%;
     left: 0;
     right: 0;
    /* border: 2px solid #525252;
     border-top: 0;*/
     background: #fff;
     transition: all 0.5s;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     z-index: 2;
}
 .dropDown.open .dropDown-options {
     opacity: 1;
     visibility: visible;
     pointer-events: all;
}
 .dropDown-option {
     position: relative;
     display: block;
     padding: 0 22px 0 22px;
     font-size: 22px;
     font-weight: 300;
     color: #3b3b3b;
     line-height: 60px;
     cursor: pointer;
     transition: all 0.5s;
}
 .dropDown-option:hover {
     cursor: pointer;
     background-color: #f8efe7;
}
 .dropDown-option.selected {
     color: #ffffff;
     background-color: #ecd0b6;
}


/* drop down arrow*/
.arrow {
     position: relative;
     height: 15px;
     width: 15px;
}
 .arrow::before, .arrow::after {
     content: "";
     position: absolute;
     bottom: 0px;
     width: 0.15rem;
     height: 100%;
     transition: all 0.5s;
}
 .arrow::before {
     left: -5px;
     transform: rotate(45deg);
     background-color: #525252;
}
 .arrow::after {
     left: 5px;
     transform: rotate(-45deg);
     background-color: #525252;
}
 .open .arrow::before {
     left: -5px;
     transform: rotate(-45deg);
}
 .open .arrow::after {
     left: 5px;
     transform: rotate(45deg);
}
/* end of drop down list styles*/

.nextImage {
    float: left;
}

