html{
height:auto;
min-height: 100%;
background: linear-gradient(to bottom, #ffffff 0%, #F8EFE7 60%, #FFD7C0 100%);
}

#resultContainer{
  margin-top:100px;
  width:100%;
/*  border: solid 1px black;*/
}

#wrapper{
  display:none;
  width:60%;
  margin: -120px 0px 0px 30%;

}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: #f8efe7;
  width: 92%;
  cursor: pointer;
}

.grid {
  padding: 30px;
}

#top {
    display: grid;
    grid-column: 1fr;
    height: auto;
}

#cover {
    display: block;
    float: left;
    width: 200px;
    height: 300px;
    background-size: 100% 100%;
}

#coverImage {
    display: block;
    float: left;
    width: 250px;
    height: 350px;
    background-size: 100% 100%;
    margin-right:40px;
    margin-top: -3px;
}

#info {
  float: left;
  margin-left:30%;
  margin-top: -120px;
}

#searchArea{
/* border:1px solid black;*/
  height:50px;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  margin: 0px 10% 0px 20%;

}

#reviewButton{
	display: none;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  width: 140px;
  height: 40px;
  margin-bottom: 10px;
  background-color:#ffffff;
  border: solid 2px #ecd0b6;
  outline:none;
  cursor: pointer;
}

 #reviewButton:hover {
     color: #ffffff;
     background-color: #ecd0b6;
     cursor: pointer;
}
 #reviewButton:active {
     color: #ffffff;
     background-color: #ecd0b6;
}

#buyButton{
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  width: 140px;
  height: 40px;
  margin-bottom: 10px;
  background-color:#ffffff;
  border: solid 2px #ecd0b6;
  outline:none;
  cursor: pointer;
}

 #buyButton:hover {
     color: #ffffff;
     background-color: #ecd0b6;
     cursor: pointer;
}
 #buyButton:active {
     color: #ffffff;
     background-color: #ecd0b6;
}

#searchButton{
  display:block;
  border:none;
  background-color:#ffffff;
  opacity: 50%;
  width:40px;
  margin-top:23px;
  outline:none;
  cursor: pointer;
}

#searchButton:hover{
  opacity: 100%;
}

#dropDown{
  margin-left: 45%;
  margin-top: 20px;
}

#nextResultsContainer {
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  width:100%;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

#pageHeader {
  display:none;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 35px;
  width: 78%;   
  margin-top:-60px;
  margin-left:5%;
  background-color: #ecd0b6;
  margin-left: 10%;
  padding:50px;
}

#pageHeader2 {
    display:none;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 35px;
    width: 78%;
    margin-left:5%;
    background-color: #ecd0b6;
    margin-left: 10%;
    padding:50px;
}

.next{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
    width: 100%;
    padding-top:10px;
}

.titleResults {
  font-weight: 300;
}

button{
    display: none;
}

#listPrice{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; 
  font-weight: 100;
}

#author{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; 
  font-weight: 250;
  font-size: 25px;
  margin-top:-9px;
  padding-bottom: 15px;
}

#bookTitle{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
  font-size: 30px;
  margin-top:-10px;
}

#moreFrom {
  font-size: 18px;
	cursor: pointer;
	font-weight: 400;
	color: #c89f79;
}

#moreDescriptionLink{
	display:none;
  font-size: 18px;
	cursor: pointer;
	font-weight: 400;
	color: #c89f79;
}

#moreDescriptionLink:hover{
	color: #ab7e7e;
}

#moreFrom:hover {
  color: #ab7e7e;
}

#descriptionText{
  width:85%;
  padding-top: 10px;
  height: auto;
  font-weight: 300;
}

#searchInput{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #525252;
  float:right;

}

input[type=text]{
  position: relative;
  padding: 18px 40px 0px 20px;
  width: 100%;
  color: #525252;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  outline: none;
  font-family: raleway;
  font-weight:bold;
}

/*search drop Down list*/
*, *:after, *:before {
     box-sizing: border-box;
}

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 150px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
 .dropDown {
     position: relative;
     display: flex;
     flex-direction: column;
}
 .custom-select-trigger{
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 22px;
     font-size: 20px;
     font-weight: 300;
     color: #525252;
     height: 60px;
     line-height: 60px;
     background: #ffffff;
     cursor: pointer;
}
 .dropDown-options {
     position: absolute;
     display: block;
     top: 100%;
     left: 0;
     right: 0;
     background: #fff;
     transition: all 0.5s;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     z-index: 2;
}
 .dropDown.open .dropDown-options {
     opacity: 1;
     visibility: visible;
     pointer-events: all;
}
 .dropDown-option {
     position: relative;
     display: block;
     padding: 0 22px 0 22px;
     font-size: 22px;
     font-weight: 300;
     color: #3b3b3b;
     line-height: 60px;
     cursor: pointer;
     transition: all 0.5s;
}
 .dropDown-option:hover {
     cursor: pointer;
     background-color: #f8efe7;
}
 .dropDown-option.selected {
     color: #ffffff;
     background-color: #ecd0b6;
}


/* drop down arrow*/
.arrow {
     position: relative;
     height: 15px;
     width: 15px;
}
 .arrow::before, .arrow::after {
     content: "";
     position: absolute;
     bottom: 0px;
     width: 0.15rem;
     height: 100%;
     transition: all 0.5s;
}
 .arrow::before {
     left: -5px;
     transform: rotate(45deg);
     background-color: #525252;
}
 .arrow::after {
     left: 5px;
     transform: rotate(-45deg);
     background-color: #525252;
}
 .open .arrow::before {
     left: -5px;
     transform: rotate(-45deg);
}
 .open .arrow::after {
     left: 5px;
     transform: rotate(45deg);
}
/* end of drop down list styles*/

/*************************START OF MEDIA QUERY**************************/

@media screen and (max-width: 932px){

/* start of first result styling*/
#searchArea{
  margin:0px;
  grid-template-columns: 1fr 3.5fr .5fr;
}

.custom-select-wrapper{
  width:117px;
}

#pageHeader{
  padding:30px;
  width:100%;
  margin-left:0px;
  text-align: center
}

#info{
  margin-top:-46px;
  margin-left:0px;
}

#coverImage{
  margin-top:70px;
  float:none;
  margin: 0px auto;
}

#bookTitle{
  margin-top: 10px;
  margin-left: 25%;
}

#author{
  margin-left: 25%;
  margin-bottom: 0px;
}

#moreFrom{
  margin-left: 25%;
  margin-top: 0px;

}

#ratingNumber{
   margin-left: 25%;
}

#pageCount{
   margin-left: 25%;
}

#listPrice{
   margin-left: 25%;
}

#buyButton{
   margin-left: 25%;
   margin-bottom:0px;
}

#reviewButton{
   margin-top: -40px;
   margin-left:56%;
}

#descriptionText{
  width:90%;
  margin:0px auto;
  padding-top:0px;
}
/*end of first result styling*/

/*start of more results styling*/

#pageHeader2{
  padding:30px;
  width:100%;
  margin-left:0px;
  text-align: center
}

#wrapper{
  width:100%;
  margin:-25% 5% 0% 4%;
}
#results{
  margin-top:90px;

}


/* ***********************MEDIA QUERY ENDS HERE************************/